{% extends "layout.html" %}

{% block content %}
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-md-12 left-side">
                    <form method="post" enctype="multipart/form-data" action="/" id="input_form">
                        <div class="scrollable-section">
                            <div class="form-row">
                                {% for field in fields %}
                                    <div class="form-group">
                                        <label class="form-label" for="{{ field }}">{{ field }}:</label>
                                        {% if field == "_id"%}
                                        <input type="hidden" class="form-control" id="{{ field }}" name="{{ field }}" value="">
                                        {% else %}
                                        <input type="text" class="form-control" id="{{ field }}" name="{{ field }}">
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="d-grid col-6 mx-auto pt-3">
                            <input type="text" name="user_name" placeholder="user_name" required>
                            <button type="submit" class="btn btn-info" name="action" value="new_line">Add a new line</button>
                            <button type="submit" class="btn btn-info" name="action" value="validate">Add/Update</button>
                        </div>
                    </form>
                    
                    
                    <form method="post" enctype="multipart/form-data" class="mt-3 csv-upload">
                        <div class="form-group">
                            <label for="file">Upload CSV File</label>
                            <input type="file" class="form-control-file" id="file" name="file">
                        </div>
                        <input type="text" name="user_name" placeholder="user_name" required>
                        <button type="submit" class="btn btn-success w-25 h-25">Import file</button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
