{% extends "layout.html" %}

{% block content %}
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-md-12 right-side d-flex flex-column">
                    <!-- <div class="top-half">
                       
                        <form method="post" action="/" enctype="multipart/form-data" class="mt-3 csv-upload">
                            <div class="form-group">
                                <label for="file">Upload CSV File</label>
                                <input type="file" class="form-control-file" id="file" name="file">
                            </div>
                            <button type="submit" class="btn btn-success w-25 h-25">Import file</button>
                        </form>
                    </div> -->
                    <div class="bottom-half">
                        <!-- Bottom half content here -->
                        <form method="post">
                            <div class="table-wrap">
                                <table>
                                <tr>
                                    {% for col in df.columns %}
                                        <th>{{ col }}</th>
                                    {% endfor %}
                                </tr>
                                {% for row in range(df.shape[0]) %}
                                    <tr>
                                        {% for col in range(df.shape[1]) %}
                                        {% if col == 0%}
                                            <td>
                                            <input type="hidden" name="{{ row }}_{{ col }}" value="{{ df.iloc[row, col] }}">
                                            <div>{{ df.iloc[row, col] }}</div>
                                            </td>
                                        {% else %}
                                            <td>
                                                <input type="text" name="{{ row }}_{{ col }}" value="{{ df.iloc[row, col] }}">
                                            </td>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </table>
                            </div>
                            <div class="d-grid col-6 mx-auto"></div>
                            <input type="submit" value="Add new line" formaction="/addLine">
                                    <input type="submit" value="Save Changes" formaction="/change">
                                </div>
                                <div class="d-grid col-6 mx-auto">
                                    <p>{{user_name}}</p>
                                    <input type="hidden" name="user_name" value="{{user_name}}">
                            {% if not results%}
                                    <button type="submit" formaction="/save">Save as csv</button>
                                </div>
                            {% endif %}
                        <div class="result">             
                            {% for result in results %}
                            <p> {{ result.error }} </p>
                            <p> {{ result.data }} </p>
                            {% endfor %}
                        </div>
                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
