{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-md-12 right-side d-flex flex-column">
            <div class="bottom-half">
                <!-- Bottom half content here -->
                <form method="post">
                    <div class="table-wrap">
                        <table>
                            <thead>
                                <tr>
                                    {% for col in df.columns %}
                                    <th>{{ col }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody class="table-content">
                                {% for row in range(df.shape[0]) %}
                                <tr>
                                    {% for col in range(df.shape[1]) %}
                                    {% if col == 0 or col == 3%}
                                    <td>
                                        <input type="hidden" name="{{ row }}_{{ col }}" value="{{ df.iloc[row, col] }}">
                                        <div>{{ df.iloc[row, col] }}</div>
                                    </td>
                                    {% else %}
                                    <td>
                                        <input type="text" name="{{ row }}_{{ col }}" value="{{ df.iloc[row, col] }}">
                                    </td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <input type="submit" value="Add new line" formaction="/addLine">
                    <input type="submit" value="Save Changes" formaction="/change">
                    <span>User: {{user_name}}</span>
                </div>
            <div class="d-grid col-6 mx-auto">
                <input type="hidden" name="user_name" value="{{user_name}}">
                {% if not errors.fatal_error%}
                <button type="submit" formaction="/save">Save as csv</button>
            </div>
            {% endif %}
            </form>
        </div>
    </div>
    <div class="result">
        {{ errors.fatal_error}}
        {{ errors.warning}}
    </div>
</div>
<script src="../static/index_with_table.js"></script>
{% endblock %}