html{
    height: 100%;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
h1{
    margin-bottom: 0px;
}

.container {
    width: 95%;
    margin: 0 auto;
    padding-top: 7px;
}

input[type="file"] {
    border: 2px dashed #007bff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 30%;
    cursor: pointer;
}

.scrollable-section {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #dee2e6;
    border-radius: 4px;
}
.table-wrap {
    overflow-x: scroll;
    max-height: 350px;
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

th, td {
    padding: 6px 8px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

th {
    background-color: #f8f9fa;
    font-weight: bold;
    color: #495057;
    position: sticky;
    top: 0;
    z-index: 10;
}

tr:nth-child(even) {
    background-color: #f8f9fa;
}

tr:hover {
    background-color: #e9ecef;
}

.form-row {
    display: inline-flex;
    flex-wrap: nowrap;
}

.form-group {
    margin-left: 10px;
    flex: 0 0 auto;
}

.form-label {
    display: block;
}

.result {
    max-height: 140px;
    overflow-y: auto;
    margin-top: 5px;
}
span{
    color: #007bff;
}
.disabled{
    color: gainsboro;
}
.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 3px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 105%; /* 右に表示 */
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}